[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "lib/witnet-solidity-bridge"]
	path = lib/witnet-solidity-bridge
	url = https://github.com/witnet/witnet-solidity-bridge
